include *.md
include *.txt
include .gitignore
include .pylintrc
include Makefile
include Pipfile
include Pipfile.lock
include tox.ini
include tox.ini.tmpl
recursive-include examples *.py *.yml merge_vars
recursive-include tests *.py
