[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pip = "*"
setuptools = "*"
tox = "*"
detox = "*"
requests = "*"

[dev-packages]
wheel = "*"
twine = "*"

[requires]
python_version = "3.6"
