[tox]
envlist =
  {py27}-ansible-{$py2_releases}
  {py35,py36,py37}-ansible-{$py3_releases}
  {py38}-ansible-{$py38_releases}
  lint

[testenv]
basepython =
  py27: python2.7
  py35: python3.5
  py36: python3.6
  py37: python3.7
  py38: python3.8

deps =
  hypothesis~=4.0
  mock>=2,<3
$ansible_dep_specs

commands =
  python -m unittest discover -s tests
  /bin/bash -c 'ansible-playbook -v {toxinidir}/examples/*_playbook.yml'

[testenv:lint]
skipdist = true
basepython = python
commands = pylint ansible_merge_vars.py tests
deps =
  hypothesis
  mock
  ansible
  pylint
