[tox]
envlist =
  py27-ansible-{$py27_releases}
  py35-ansible-{$py35_releases}
  py36-ansible-{$py36_releases}
  py37-ansible-{$py37_releases}
  py38-ansible-{$py38_releases}
  py39-ansible-{$py39_releases}
  py310-ansible-{$py310_releases}
  py311-ansible-{$py311_releases}
  py312-ansible-{$py312_releases}
  lint

[testenv]
basepython =
  py27: python2.7
  py35: python3.5
  py36: python3.6
  py37: python3.7
  py38: python3.8
  py39: python3.9
  py310: python3.10
  py311: python3.11
  py312: python3.12

deps =
  hypothesis~=4.0
  mock>=2,<3
$ansible_dep_specs
$jinja_dep_specs

commands =
  python --version
  python -m unittest discover -s tests
  /bin/bash -c 'ansible-playbook -v {toxinidir}/examples/*_playbook.yml'

  # We run out of diskspace on Github Actions runners
  rm -rf {envdir}
allowlist_externals =
  /bin/bash
  rm

[testenv:lint]
skipdist = true
basepython = python
commands = pylint ansible_merge_vars.py tests
deps =
  hypothesis
  mock
  ansible
  pylint==3.0.3
allowlist_externals =
  pylint